.container {
  max-width: 100%;
  width: 320px;
  margin: 9px 0;
}

.alert {
  color: white;
  padding: 9px;
  box-sizing: border-box;
  border-radius: 4.5px;
  border: 2px solid rgba(54, 51, 75, 0.8);
  text-align: center;
}

.danger {
  background-color: rgba(155, 59, 59, .2);
  border-color: rgba(155, 59, 59, .8);
}