.container {
  flex-shrink: 0;
  display: flex;
  gap: 9px;
  align-items: center;

  .avatar {
    border-radius: 50%!important;
    object-fit: contain!important;
  }
  .info {
    p {
      font-size: .875em;
      font-weight: 200;
    }
  }
}