.container {
  background-color: rgba(33, 30, 78, 1);
  border-radius: 4.5px;
  position: absolute;
  top: 27px;
  right: 36px;
  ul {
    li {
      button {
        box-sizing: border-box;
        width: 160px;
        padding: 4.5px 18px;
        border-radius: 4.5px;
        background-color: transparent;
        border: none;
        padding: 9px 0;
        color: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-right: 9px;
        }

        &:hover {
          background-color: #544a7a;
        }
      }
      &:nth-child(1n+2) {
        &::before {
          content: '';
          display: block;
          width: 80%;
          height: 1px;
          margin: 4.5px auto;
          background-color: #3f3666;
        }
      }
    }
  }
}

/* &::after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: red;
} */