.container {
  grid-area: profile;
  background-color: rgba(0, 0, 0, .4);
  border: 2px solid rgba(155, 155, 155, .1);
  border-radius: 4.5px;
  padding: 9px;
  box-sizing: border-box;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button-logout {
    background-color: transparent;
    border: 2px solid rgba(155, 155, 155, .3);
    padding: 4.5px 9px;
    border-radius: 4.5px;
    box-sizing: border-box;
    line-height: 0;
    outline: none;
    display: flex;
    gap: 9px;
    align-items: center;
    font-size: .875em;
    color: #FFFFFF;
  }
}