.container {
  position: relative;
  width: 100%;
  .text-input {
    width: 100%;
    display: block;
    height: 38px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid rgba(33, 30, 78, .8);
    border-radius: 4.5px;
    outline: none;
    font-weight: 700;
    padding: 0 9px;
    font-size: .875em;
    box-sizing: border-box;
    padding-right: 43px;
    &:read-only {
      color: #5f5f5f;
      cursor: not-allowed;
    }
  }
  div {
    position: absolute;
    bottom: 18%;
    right: 4.5px;
    transform: translate3d(0, 18%, 0);
    width: 0;
  }
}